a {
  text-decoration: none;
  color:#666;
  font-size: 12px;
}
p {
  margin: 0px;
  padding: 0px;
}
ul, li, dl, dt, dd {
  margin: 0px;
  padding: 0px;
}
li {
  list-style: none;
}
body {
  margin: 0px 0px;
}

.card-radio .el-radio-button__inner dl {
  margin: 0px;
  padding: 0px;
}

.card-radio .el-radio-button__inner dl dt {
  margin: 0px;
  padding: 5px 0px 5px 0px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.card-radio .el-radio-button__inner dl dd {
  font-size: 12px;
  margin: 0px;
  padding: 0px;
  height: 40px;
}

.card-radio .el-radio-button__inner {
  text-align: left;
  padding: 5px;
  width: 250px;
  word-break: break-all;
  white-space: inherit;
}
.largeHeight textarea {
  height: 250px;
}
.ltsh-form-block-center {
  text-align: center;
}
.ltsh-form-block-center .el-form-item__content {
  text-align: center;
}
.ltsh-form-block .el-form-item__content {
  width: 100%;
}
.header-nav {
  padding: 0px;
  height: auto;
}
.footer {
  padding: 0px;
  height: auto;
}

.el-main {
  padding: 0;
  overflow: visible;
}
.register_box .el-button--primary.is-disabled, .el-button--primary.is-disabled:active, .el-button--primary.is-disabled:focus, .el-button--primary.is-disabled:hover {
  background-color: #f4f4f5;
  border-color: #DCDFE6;
  color: #C0C4CC;

}
.register_box {
  .el-input-group__append {
    background-color: #fff;
    padding:0px;
    width: 110px;
  }

  .el-input-group__append img {
    margin-top: 0px;
    width: 110px;
    height:38px;
  }
  .el-input-group__prepend {
    width: 70px;
    padding: 5px;
  }
}
.btn-custom-cancel {
  float: right;
  margin-left: 10px;
}
.major-check {
  .el-checkbox-button__inner {
    padding: 7px 15px;
    border-radius: 4px;
  }
}

.el-message{
  top: calc(50% - 23px) !important;
  min-width:200px!important;
}
.el-input {
	.el-input__inner:focus {
		border: 1px solid #c5c5c5;
	}
}
.navhide{
  display: none;
}
.guigeRt .el-radio__input.is-checked .el-radio__inner{
  border-color: #ff0036;
  background: #ff0036;
  width: 20px;
  height: 20px;
  position: relative;
}
.guigeRt .el-radio__input.is-checked .el-radio__inner:before{
  content: "";
  border: 2px solid #fff;
  width: 14px;
  position: absolute;
  height: 14px;
  background: #ff0036;
  border-radius: 30px;
}
.guigeRt .el-radio__inner{
  width: 20px;
  height: 20px;
}
.guigeRt .el-radio__inner::after{
  width: 5px;
  height: 5px;
  background-color: #ff0036;
}
.guigeRt .el-radio__input.is-checked+.el-radio__label{
  color: #000;
  font-weight: bold;
}
.canbody .el-radio-button__inner{
  border: 0;
  background: #f4f4f4;
}
.canbody .el-radio-button__orig-radio:checked+.el-radio-button__inner{
  background: none;
  border: 0;
  color: red;
  box-shadow:none;
}
.el-radio-button__inner:hover{
  color: #606266;
}

