button,input{outline:0;}
/*top开始*/
.header-nav{
	border-bottom:1px solid #f2f2f2;
}
.wbb_top{width:100%;min-width:1200px;height:32px;line-height:32px;background:#f5f5f5;border-bottom:1px solid #ddd;border-top:1px solid #fff;font-size:14px;color:#666;}
.wbb_top .wbb_top_content{width:1200px;margin:0 auto;}
.wbb_top a {
    color: #333;
    text-decoration: none;
	font-size:14px;
}
.fr {
    float: right;
}
.fl {
    float: left;
}
.clearfix::after{ clear: both;content: "0";display: block;height: 0;visibility: hidden;}
.color1{color:#ccc;}
.wbb_top i{font-style:normal; padding: 0px 2px;}
.w_login_0606,.w_login_0607{margin-bottom:0!important;}
.w_login_0606 .login_box .login_content { height:350px;}
.w_login_0607 .login_box .login_content{
	border-top:0!important;
}
.register_box .el-button--primary.is-disabled,.register_box .el-button--primary.is-disabled:active, 
.register_box .el-button--primary.is-disabled:focus, 
.register_box .el-button--primary.is-disabled:hover{
	background-color:inherit!important;
}
/*top结束*/

/* 跑马灯开始 */
.scroll_vertical{ width:330px; float:left; padding-top:5px; overflow:hidden;}
.scroll_vertical .box{overflow:hidden;position:relative; height:20px;}
.scroll_vertical .list{position:absolute;top:0;left:0;}
.scroll_vertical .list li{height:20px; list-style:none; font-size:12px;}
/* 跑马灯结束 */
.flex{
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
}
.hide{
    display:none;
}
.loginWap{
    width: 358px;
    background: #fff;
    box-sizing: border-box;
    color: #808080;
    height:380px;
    float:right;
    margin-top:42px;
}
.loginCut{
    font-size:16px;font-weight:lighter;color:#808080;
    justify-content: space-between;
    line-height:44px;
    border-bottom:1px solid #e0e0e0;
}
.loginCut span{
    cursor: pointer;
    flex:1;
    text-align:center;
    position: relative;
}
.loginCut span:first-child:after{
    position: absolute;
    top: 15px;
    right: 0;
    z-index: 1;
    width: 1px;
    height: 20px;
    background-color: #ccc;
    content: '';
    font-size: 0;
    line-height: 0;
}
.loginCut span.hover{color:#e60021;}
.loginTab{padding:0 20px;}
.loginLs{padding-top:10px;}
.loginLs li{
    margin-top:20px;
    line-height:40px;
    background-color:#fff;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
}
.loginLb{
    width:42px;
    text-align:center;
    background-color:#f5f5f5;
}
.loginLb em{font-size:18px;position: relative;top:2px;}
.loginLsdiv{
    position: relative;
    width:90%;
}
.Lgsend_code{
    width: 100px;
    background: #d0d0d0;
    height:40px;
    border: none;
    border-left: 1px solid #ccc;
    cursor: pointer;
    color:#999;
    position: absolute;
    right:0;
}
.loginLsInpt{
    border:0;
    padding:0 12px;
    color:#999;
}
.loginLsInpt::-webkit-input-placeholder{color:#b8b8b8;}
.loginLsInpt:-moz-placeholder{color:#b8b8b8;}
.loginLsInpt:-ms-input-placeholder{color:#b8b8b8;}
.loginItem{
    padding:15px 0; cursor:pointer;font-size:12px;
    justify-content: space-between;
}
.loginItem label{align-items:center;}
.loginItem input{margin-right:6px;}
.loginItem a,.logCode a{color:#666;}
.loginItem a:hover,.logCode a:hover{
    color:#e60021;text-decoration:underline;
}
.loginBnt{
    width: 100%;
    height:42px;
    color: #fff;
    cursor: pointer;
    background-color:#e60021;
    color:#fff;
    border:0;
    border-radius:2px;
    font-size:16px;
    margin-top:10px;
}
.loginBnt:hover{
    background-color:#ff0036;
}
.logCode{
    margin:12px 0 0;height:20px;justify-content: space-between;
    font-size:12px;
}
.loginSt{
    padding:15px 20px;position: relative;
}
.loginStx{
    font-weight:bold; font-size:14px;display: inline-block;
}
.loginLb .icon-contact:before{font-size:14px;color:#666;}
