@import "./base.css";

@import './font/font.css';

:root {
  --default-main-color: #338f7a;
  // --default-main-color: #089E7C;
  
 
}

:root {
  --el-color-primary: var(--default-main-color) !important;
  --vt-c-theme-colors:var(--el-color-primary);
  --el-input-text-color:#333 !important;
  --el-text-color-regular:#666 !important;
  --el-tag-text-color:#333 !important;
  --el-radio-text-color:#333 !important;
 
}

* {
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    z-index: 99999;
    cursor: pointer !important;
  }
// 页面滚动条设置
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border-radius: 10px;
    // background-color: #c0c0c0;
    // background-color: #909399;
    background-color: rgba(144,147,153,.3);
    cursor: pointer !important;
    z-index: 99999;
    --el-scrollbar-opacity: 0.3;
  }

  &::-webkit-scrollbar-track {
    background-color: red;
    border-radius: 10px;
    background-color: transparent;
  }

  // font-family: Source Han Sans CN-Regular, Source Han Sans CN !important;
}

body {
  min-width: 1200px;
  margin: 0;

  &::-webkit-scrollbar {
    width: 0;
  }
  ul,li{
    padding: 0;
    margin: 0;
  }
}

#app {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal; */
  .el-form-item{
 
    .el-form-item__label{
      color:#333 !important;
    }
    .el-input__inner{
      color:#333 !important;

    }
    .el-input__inner::placeholder{
      color: #999 !important;
    }

    .el-select__tags-text{
      color:#333 !important;
    }

    .el-radio__label{
      color:#333 !important;
    }
    .el-tag__content{
      color:#333 !important
    }
  }
}
