@font-face {
	font-family: 'icon';
	src:  url('fonts/icomoon.eot?cf9cof');
	src:  url('fonts/icomoon.eot?cf9cof#iefix') format('embedded-opentype'),
	  url('fonts/icomoon.ttf?cf9cof') format('truetype'),
	  url('fonts/icomoon.woff?cf9cof') format('woff'),
	  url('fonts/icomoon.svg?cf9cof#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
  }
  
[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-suc:before{
  content: "\e946";
}
.icon-save:before {
  content: "\e942";
}
.icon-set:before {
  content: "\e948";
}
.icon-share:before {
  content: "\e949";
}
.icon-upload2:before {
  content: "\e94a";
}
.icon-rollback_r:before {
  content: "\e94e";
}
.icon-upload3:before {
  content: "\e94f";
}
.icon-rollback_l:before {
  content: "\e950";
}

.icon-3d:before {
  content: "\e941";
}
.icon-img:before {
  content: "\e940";
}
.icon-fen:before {
	content: "\e900";
  }
  .icon-locat:before {
	content: "\e901";
  }
  .icon-yyao:before {
	content: "\e902";
  }
  .icon-dianzi:before {
	content: "\e903";
  }
  .icon-huaz:before {
	content: "\e904";
  }
  .icon-moban:before {
	content: "\e905";
  }
  .icon-shipin:before {
	content: "\e906";
  }
  .icon-arrow_d:before {
	content: "\e907";
  }
  .icon-contact:before {
	content: "\e908";
	color: #e60021;
  }
  .icon-cart:before {
	content: "\e909";
  }
  .icon-audit:before {
	content: "\e90a";
  }
  .icon-checkm:before {
	content: "\e90b";
  }
  .icon-checks:before {
	content: "\e90c";
  }
  .icon-colse:before {
	content: "\e90d";
  }
  .icon-cont:before {
	content: "\e90e";
  }
  .icon-coupon:before {
	content: "\e90f";
  }
  .icon-detail:before {
	content: "\e910";
  }
  .icon-filedone:before {
	content: "\e911";
  }
  .icon-idcard:before {
	content: "\e912";
  }
  .icon-map1:before {
	content: "\e913";
  }
  .icon-map2:before {
	content: "\e914";
  }
  .icon-pass:before {
	content: "\e915";
  }
  .icon-setting:before {
	content: "\e916";
  }
  .icon-solution:before {
	content: "\e917";
  }
  .icon-use:before {
	content: "\e918";
  }
  .icon-arrow_up:before {
	content: "\e919";
  }
  .icon-tel:before {
	content: "\e91a";
  }
  .icon-down:before {
	content: "\e91b";
  }
  .icon-add:before {
	content: "\e91c";
  }
  .icon-del:before {
	content: "\e91d";
  }
  .icon-ad:before {
	content: "\e91e";
  }
  .icon-qq:before {
	content: "\e91f";
  }
  .icon-again:before {
	content: "\e920";
  }
  .icon-xinai:before {
	content: "\e921";
  }
  .icon-search:before {
	content: "\e922";
  }
  .icon-ebit:before {
	content: "\e923";
  }
  .icon-b12:before {
	content: "\e924";
  }
  .icon-ada:before {
	content: "\e925";
  }
  .icon-air:before {
	content: "\e926";
  }
  .icon-anmo:before {
	content: "\e927";
  }
  .icon-cable:before {
	content: "\e928";
  }
  .icon-condom:before {
	content: "\e929";
  }
  .icon-lub:before {
	content: "\e92a";
  }
  .icon-met:before {
	content: "\e92b";
  }
  .icon-vib:before {
	content: "\e92c";
  }
  .icon-camera:before {
	content: "\e92d";
  }
  .icon-cell:before {
	content: "\e92e";
  }
  .icon-charger:before {
	content: "\e92f";
  }
  .icon-che:before {
	content: "\e930";
  }
  .icon-sup:before {
	content: "\e931";
  }
  .icon-yao:before {
	content: "\e932";
  }
  .icon-candy:before {
	content: "\e933";
  }
  .icon-coffee:before {
	content: "\e934";
  }
  .icon-cook:before {
	content: "\e935";
  }
  .icon-pot:before {
	content: "\e936";
  }
  .icon-rice:before {
	content: "\e937";
  }
  .icon-tea:before {
	content: "\e938";
  }
  .icon-worm:before {
	content: "\e939";
  }
  .icon-xie:before {
	content: "\e93a";
  }
  .icon-naifen:before {
	content: "\e93b";
  }
  .icon-kohon:before {
	content: "\e93c";
  }
  .icon-link:before {
	content: "\e93d";
  }
  .icon-cream:before {
	content: "\e93e";
  }
  .icon-beauty:before {
	content: "\e93f";
  }
  .icon-lotion:before {
	content: "\e943";
  }
  .icon-mask:before {
	content: "\e944";
  }
  .icon-meibi:before {
	content: "\e945";
  }
  .icon-eye:before {
	content: "\e94c";
  }
  .icon-scent:before {
	content: "\e967";
  }
  .icon-arrow-up:before {
	content: "\ea32";
  }
  