/* 新年样式 --start*/
/* .newYearImg {
  background: url('../img/newYearSkin/newBkg.png') no-repeat;
  background-color: #ffebea !important;
}

.newYearImg1 {
  background-image: url('../img/newYearSkin/previewBkg.png');
  background-repeat: no-repeat;
  background-color: #ffebea !important;
  padding-top: 10px;

}

.newYearImg3 {
  background-image: url('../img/newYearSkin/previewBkg.png');
  background-repeat: no-repeat;
  background-color: #ffebea !important;

}

.newYearImg2 {
  padding: 1px 0;
} */

/* 新年样式 --end*/