  


.introduction {
  // min-width: 1240px;
  background: #F4DDDE;
  min-height: 100vh;
  user-select: none;
  padding-bottom: 15vw;
}

// 页面导航
.i-t-nav {
  // 固定在页面顶部的导航
  // position: fixed;
  height: 16vw;

  z-index: 99;
  background: #343434;
  width: 100%;
  .i-t-nav-content {
    // width: 1240px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    // 垂直居中
    align-items: center;
    // logo
    .logo {
      // flex: 1;
      padding-left:16px ;
      a{
        display: block;
      }
      img {
        height: 7.4vw;
      }
    }
    .i-t-nav-more {
      color: #fff;
      padding: 10px ;
      font-size: 3.7vw;
      // flex: 1;
      img{
        width: 6vw;
      }
     
     
    }
    .nav-list {
      ul {
        display: flex;
        height: 60px;
        line-height: 60px;
        li {
          padding: 0 25px;
          position: relative;
          ::before {
            content: '';
            position: absolute;
            right: 0;
            border-right: 1px solid #afafaf;
            top: calc(50% - 10px);
            height: 20px;
          }
          a {
            font-size: 20px;
            font-weight: 500;
            color: #fff;
            padding: 0 12px;
            height: 60px;
            display: inline-block;
          }
          a.active {
            background-color: #e50020;
          }
        }
        li:last-child {
          border-right: 0px solid #afafaf;
          padding-right: 90px;
          ::before {
            display: none;
          }
        }
      }
    }
    .search-box {
      display: flex;
      margin-left: 5vw;
      flex:1;
      height: 8vw;
      line-height: 8vw;
      border-radius: 4vw;
      overflow: hidden;
      align-items: center;
      background-color: rgba(255, 255, 255, 0.2);
      
      input {
        flex: 1;
        font-size: 3.2vw;
        height: 100%;
        border: none;
        outline: none;
        padding-left: 4vw;
        background: rgba(255, 255, 255, 0);
        color: #fff;
      }
      .search-btn {
        width: 13vw;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        img {
          height: 70%;
          object-fit: contain;
        }
      }
    }
  }
}

// 页面banner
.banner-box {
  width: 100%;
  // min-width: 1240px;
  position: relative;
  .banner-img {
    width: 100%;
    object-fit: contain;
    display: block;
  }
  
  .banner-item {
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
  }
}
$input-color:#C24E53;
.i-t-form {
  // width: 1240px;
  margin: 0 auto;
  // background-image: url(bg1.jpg),

  .i-t-title {
    margin: 3vw 0 1vw;
    .i-t-title-text {
      width: 80vw;
      height: 16vw;
      margin: 0px auto 0;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      text-align: center;
      font-weight: 500;
      font-size: 5vw;
      div {
        span {
          margin:0 2vw 1.3vw  2vw;
          font-size: 7vw;
          position: relative;
          top: 1vw;
        }
      }
    }
    .i-t-title-list {
      display: flex;
      width: 777px;
      height: 30px;
      margin: 10px auto 0;
      justify-content: space-around;
      .i-t-carousel-item {
        display: flex;
        align-items: center;
        color: $input-color;
        img {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
  .i-t-form-tcontent {
    margin:0px auto 0;
    width: 90vw;
    background: rgba(255, 255, 255,0.4);
    border-radius: 2vw;
    position: relative;
    padding: 7vw;
    box-sizing: border-box;
      > div {
        padding: 3vw 4vw;
        background: #ffffff;
        border-radius: 20px 20px 20px 20px;
        font-size: 4vw;
        color: $input-color;
        display: flex;
        align-items: center;
        span{
          // margin-bottom: .8vw;
        }
        span::after{
          content: '|';
          margin: 0 3vw ;
        }
        input {
          border: none;
          outline: none;
          padding: 0;
          font-size: 4vw;
          flex: 1;
          color: $input-color;
          width: 100%;
        }
        input:-moz-placeholder,
        textarea:-moz-placeholder {
          color: $input-color;
        }

        input:-ms-input-placeholder,
        textarea:-ms-input-placeholder {
          color: $input-color;
        }

        input::-webkit-input-placeholder,
        textarea::-webkit-input-placeholder {
          color: $input-color;
        }
      }
      .i-t-form-btn {
        background: none;
        text-align: center;
        box-sizing: border-box;
        padding-top: 8vw;
        display: flex;
        justify-content: center;

        img {
          box-shadow: 0px 3px 16px 0px #d38b8e;
          border-radius: 50px;
          cursor: pointer;
          width: 90%;
        }
      }
    
  }
}
.dom-scale {
  animation: dom-scale 1s infinite;
  // animation: dom-scale 1s cubic-bezier(0.6, -0.28, 0.74, 0.05) infinite;
}
// 页面主体内容

.introduction-content {
  margin: 0 auto;
  width: 90vw;
  padding: 5vw 0 25vw;
  box-sizing: border-box;
  .i-c-header {
    width: 100%;
    height: 11vw;
    line-height: 7vw;
    font-size: 3.7vw;
    font-weight: 500;
    color: #333333;
    text-align: center;
    background-size: contain;
    background-position: center;
    font-weight: 800;
    color: #E47176;
    margin: 8vw auto 3vw;
  }
  .i-c-body{
    background-color: rgba(255, 255, 255, 0.4);
    padding: 4vw;
    box-sizing: border-box;
    border-radius: 3vw;
    .i-c-item-box{
      height: calc(116vw + 20px);
      overflow-x: hidden;
      overflow-y: auto;
  
      // 选中.el-col最后2个元素
      .el-col{
        margin-bottom:  10px;
      }
    .el-col:nth-last-child(-n+2) {
      /*样式*/
      margin-bottom:  0px;
    } 
    }
  }
  .i-c-tabs {
    display: flex;
    margin-bottom: 5vw;
    align-content: center;
    overflow-x: auto;
    overflow-y: hidden;
    .i-c-tabs-item {
      text-align: center;
      // width: 162px;
      // height: 50px;
      // line-height: 50px;
      font-size: 3.7vw;
      margin-right: 20px;
      cursor: pointer;
      font-weight: 400;
      color: #D85B60;
      flex: 1 0 auto;
    }
    .i-c-tabs-item.tabs-active,
    .i-c-tabs-item:hover {
      color: $input-color;
      font-weight: 500;
    }
    .i-c-more {
      flex: 1;
      text-align: right;
      display: flex;
      justify-content: end;
      align-items: center;
    }
  }
  .i-c-tabs::-webkit-scrollbar { width: 0 !important;height: 0 !important; }
  #list li:nth-last-child(-n+2) {
    /*样式*/
  }
  .i-c-item {
    border-radius:  1vw;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.4);
  
    padding: 1vw;
    .i-c-item-img {
      border-radius: 1vw;
      overflow: hidden;
      object-fit: contain;
      display: block;
      position: relative;
      
    }
    .i-c-item-text-title {
      font-size: 3.7vw;
      color: #333333;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      margin: 1vw 0;
      // padding: 0 1vw;
      font-weight: 500;
    }
    .i-c-item-text-content {
      padding-bottom: 5px;
      color: #FF4D4F;
      font-size: 3vw;
      vertical-align: bottom;
      // text-align: center;
     
      .i-c-price {
        font-size: 4vw;
        // margin: 0 5px;
        font-weight: 500;
      }
      .i-c-unit {
        color: #777777 !important;
        margin-left: 1vw;
      }
    }
  }
  .i-c-item:hover{
    cursor: pointer;
    .i-c-item-img-smegma{
     display: block;
    }     
   }
}
.customer-service {
  position: fixed;
  right: 20px;
  bottom: 80px;
  width: 100px;
  height: 100px;
  background-color: red;
  transition: all 0.5s;
}
.introduction-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  // min-width: 1240px;
  height: 50px;
  background: rgba(0, 0, 0, 0.3);
}
// 元素放大动画
@keyframes dom-scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

// 元素抖动动画
// @keyframes dom-rotate{
//   0%{
//     transform: rotate(10deg);
//   }
//   10%{
//     transform: rotate(0deg);
//   }
//   20%{
//     transform: rotate(-10deg);
//   }
//   30%{
//     transform: rotate(0deg);
//   }
//   40%{
//     transform: rotate(10deg);
//   }
//   60%{
//     transform: rotate(0deg);
//   }
//   70%{
//     transform: rotate(-10deg);
//   }
//   80%{
//     transform: rotate(0deg);
//   }
//   90%{
//     transform: rotate(10deg);
//   }
//   100%{
//     transform: rotate(0deg);
//   }
// }

// 鼠标移入到customer-service上时，该元素会抖动起来
.customer-service:hover {
  animation: btn-rotate 0.5s linear;
}